<md-dialog
    flex="50"
    layout="column"
    ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate="">Add attachment</h2>
            <span flex></span>
            <md-button 
                class="md-icon-button" 
                ng-click="answer(config._files)"
                ng-disabled="myForm.$invalid">
                <wb-icon aria-label="Close dialog">done</wb-icon>
            </md-button>
            <md-button 
                class="md-icon-button" 
                ng-click="cancel()">
                <wb-icon aria-label="Close dialog">close</wb-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <!--<div>-->
            <lf-ng-md-file-input 
                lf-files="config._files"
                accept="*/*"
                progress
                preview
                drag
                flex>
            </lf-ng-md-file-input>
    </md-dialog-content>
</md-dialog>
