<md-input-container class="md-block">
    <label translate="">Order title</label>
    <input 
        ng-model="ctrl.orderTitle" 
        ng-change="ctrl.setProperty('orderTitle', ctrl.orderTitle)"
        type="text">
</md-input-container>
