<div mb-preloading="serviceLoading || working">
    <div 
        ng-if="categories"
        itemscope
        itemtype="http://schema.org/Thing">
        <md-nav-bar 
            md-no-ink-bar="disableInkBar"
            md-selected-nav-item="currentNavItem"
            nav-bar-aria-label="navigation links">
            <md-nav-item 
                ng-repeat="category in categories"
                name="{{category.id}}"
                md-nav-click="loadServices(category)" itemprop="name">{{category.name}}
                <meta ng-if="parentCategory.name" itemprop="category" content="{{parentCategory.name}}">
            </md-nav-item>
        </md-nav-bar>
    </div>
    <div ng-if="services">
        <div layout-margin>
            <md-radio-group 
                ng-model="selectedService">
                <md-radio-button 
                    ng-repeat="service in services.items"
                    ng-value="service" 
                    class="md-primary am-shop-category-quick-option">
                    <div itemscope itemtype="http://schema.org/Service"
                         flex
                         layout="row">
                        <span flex itemprop="name">{{service.title}}</span>
                        <meta ng-if="parentOfService.name" itemprop="category" content="{{parentOfService.name}}">
                        <span>{{service.price | amhCurrency: unit}}</span>
                    </div>
                </md-radio-button>

            </md-radio-group>
        </div>
        <!--The line below is used to check the correctness of different currency-->
        <!-- <div>Price: {{10000000 | amhCurrency:'Oman-rial'}}</div>-->
        <div
            layout="row"
            layout-align="center center">
            <md-button
                class="md-primary md-raised" 
                ng-click="submitToOrder(selectedService)"
                ng-disabled="!selectedService" translate>Pay and Buy
            </md-button>
        </div>
    </div>

    <div 
        ng-if="categoryNotFound || serviceNotFound" 
        layout="row"
        layout-align="center center">
        <h2 style="color: red" translate>Nothing found.</h2>
    </div>

</div>