<div layout-padding>

    <div 
        layout="row"
        layout-align="start center">

        <md-input-container 
            class="md-icon-float md-icon-right md-block"
            flex>
            <label translate="">Secure id</label>
            <input
                ng-model="orderSecureId">
        </md-input-container>

        <md-button 
            class="md-raised md-primary" 
            aria-label="Search"
            ng-disabled="editable"
            ng-click="orderFinder(orderSecureId)">
            <span translate="">Search</span>
        </md-button>

    </div>
</div>
