<md-content flex>
    <div
        ng-if="!ctrl.registeringOrder"
        layout="column">

        <form 
            name="regForm" 
            novalidate
            layout-padding
            style="background-color: white">

            <md-input-container 
                class="md-block md-icon-float">
                <wb-icon>person</wb-icon>
                <input 
                    ng-model="ctrl.data.full_name" 
                    name="fullname"
                    type="text" 
                    placeholder="{{'Full name'| translate}}"
                    class="inputfield"
                    required>
                <div 
                    ng-messages="regForm.fullname.$error">
                    <div 
                        ng-message="required">
                        <span translate="">This field is required.</span>
                    </div>
                </div>
            </md-input-container>

            <md-input-container 
                class="md-block md-icon-float">
                <wb-icon>phone</wb-icon>
                <input 
                    ng-model="ctrl.data.phone" 
                    name="phone" 
                    type="text" 
                    class="form-control inputfield"  
                    placeholder="{{'Phone'| translate}}" 
                    required>
                <div 
                    ng-messages="regForm.phone.$error">
                    <div 
                        ng-message="required">
                        <span translate="">This field is required.</span>
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block md-icon-float">
                <wb-icon>email</wb-icon>
                <input 
                    ng-model="ctrl.data.email" 
                    type="email" 
                    name="email" 
                    placeholder="{{'Email'| translate}}" 
                    class="form-control" 
                    required>
                <div 
                    ng-messages="regForm.email.$error">
                    <div ng-message="required"><span translate="">This field is required.</span></div>
                </div>
            </md-input-container>

            <md-input-container class="md-block md-icon-float">
                <wb-icon>location_on</wb-icon>
                <input 
                    ng-model="ctrl.data.province" 
                    type="text" 
                    placeholder="{{'Province'| translate}}"
                    class="inputfield">
            </md-input-container>

            <md-input-container class="md-block md-icon-float">
                <wb-icon>location_city</wb-icon>
                <input 
                    ng-model="ctrl.data.city" 
                    type="text" 
                    placeholder="{{'City'| translate}}"
                    class="inputfield">
            </md-input-container>

            <md-input-container 
                class="md-block md-icon-float">
                <wb-icon>home</wb-icon>
                <input 
                    ng-model="ctrl.data.address" 
                    type="text" 
                    placeholder="{{'Address'| translate}}"
                    class="inputfield">
            </md-input-container>
            <md-input-container 
                class="md-block">
                <label translate="">Description</label>
                <textarea 
                    ng-model="ctrl.data.description" 
                    md-select-on-focus
                    class="inputfield"></textarea>
            </md-input-container>

            <div 
                layout="row"
                layout-align="center center">
                <md-button 
                    class="md-raised md-accent" 
                    ng-href="/">
                    <span translate="">Cancel</span>
                </md-button>
                <md-button 
                    class="md-raised md-primary" 
                    type="submit"
                    ng-click="ctrl.register(ctrl.data)" 
                    ng-disabled="regForm.$invalid">
                    <span translate="">Register</span>
                </md-button>
            </div>
        </form>
    </div>

    <div 
        layout="row"
        layout-align="center center"
        ng-if="ctrl.registeringOrder">
        <md-progress-circular
            md-mode="indeterminate" 
            md-diameter="96px">
        </md-progress-circular>
    </div>
</md-content>