@media screen and (max-width: 400px) {
  .registerForm {
    width: 100%;
    padding: 0px;
  }
}
@media screen and (min-width: 400px) {
  .registerForm {
    padding: 10%;
  }
}
.inputfield {
        font-family: Gandom, BKoodakBold, 'Roboto', sans-serif; 
}