/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 18, 2018, 6:44:41 PM
    Author     : MASOOD
*/
md-radio-button.am-shop-category-quick-option>.md-label {
    display: block;
    width: calc(100% - 30px);
    /*background-color: red;*/
}
