<md-content 
    wb-infinate-scroll="loadNextServices"
    flex>


        <!-- Subcategories -->
        <div 
            layout="row"
            layout-align="center center"
            layout-wrap>
            <md-progress-circular 
                md-mode="indeterminate" 
                md-diameter="96px" 
                ng-if="loadingCategories">
            </md-progress-circular>
            <div 
                layout="column"
                itemscope 
                itemtype="http://schema.org/Thing"
                md-colors="{borderColor: 'primary-200'}"
                class="clickable-item md-whiteframe-2dp"
                ng-repeat="category in categories"
                layout-align="none center"
                layout-margin
                ng-click="goToCategoryPath('categories/' + category.id)" 
                style="cursor: pointer"
                layout-padding
                flex="30">

                <img 
                    itemprop="image" 
                    ng-if="category.thumbnail"
                    style="max-height:128px; max-width:128px; min-height:128px; min-width: 128px"
                    ng-src="/api/cms/{{category.thumbnail}}/download"
                    alt="{{category.name}}">

                <img 
                    ng-if="!category.thumbnail" 
                    style="max-height:128px; max-width:128px; min-height:128px; min-width: 128px"
                    ng-src="images/default-folder.svg"
                    alt="{{category.name}}">
                <p itemprop="name" ng-href="categories/{{category.id}}">{{category.name}}</p>
                <meta ng-if="parentCategory.name" itemprop="category" content="{{parentCategory.name}}">    
            </div>
        </div>

        <!-- Services -->
        <div layout="column">

<!--            <md-progress-circular 
                md-mode="indeterminate" 
                md-diameter="96px" 
                ng-if="loadingServices">
            </md-progress-circular>-->

            <!--<h2 ng-show="services.length" style="color: black" translate>Services</h2>-->

            <div 
                ng-show="services" 
                layout="row"
                layout-align="center center"
                layout-wrap>

                <div 
                    itemscope 
                    itemtype="http://schema.org/Service"
                    class="clickable-item md-whiteframe-2dp"
                    md-colors="{borderColor: 'primary-200'}"
                    ng-repeat="service in services"
                    layout="column"
                    layout-align="none center"
                    layout-margin
                    layout-padding
                    ng-click="submitToOrder(service)"
                    style="cursor: pointer"
                    flex="30">

                    <img 
                        itemprop="image"
                        ng-if="service.avatar"
                        style="max-height:100px; max-width:128px; min-height:128px; min-width: 128px"
                        ng-src="{{service.avatar}}"
                        alt="{{service.title}}">

                    <img ng-if="!service.avatar" 
                         style="max-height:128px; max-width:128px; min-height:128px; min-width: 128px"
                         ng-src="images/default-folder.svg"
                         alt="{{service.title}}">
                    <p itemprop="name" ng-href="shop/create-order/{{service.id}}">{{service.title}}</p>
                    <meta ng-if="parentCategory.name" itemprop="category" content="{{parentCategory.name}}">
                </div>
            </div>
        </div>

        <!--Products--> 
        <!--    <div 
                layout="row"
                layout-align="center start"
                layout-wrap>
                <md-progress-circular 
                    md-mode="indeterminate" 
                    md-diameter="96px" 
                    ng-if="loadingProducts">
                </md-progress-circular>
                <div
                    ng-if="products"
                    itemscope 
                    itemtype="http://schema.org/Product"
                    class="clickable-item md-whiteframe-2dp"
                    md-colors="{borderColor: 'primary-200'}"
                    ng-repeat="product in products"
                    layout="column"
                    layout-align="none center"
                    layout-margin
                    layout-padding
                    ng-click="submitToOrder(product)"
                    style="cursor: pointer"
                    flex="30">
        
                    <img 
                        itemprop="image"
                        ng-if="product.avatar"
                        style="max-height:100px; max-width:128px; min-height:128px; min-width: 128px"
                        ng-src="{{product.avatar}}"
                        alt="{{product.title}}">
        
                    <img ng-if="!product.avatar" 
                         style="max-height:128px; max-width:128px; min-height:128px; min-width: 128px"
                         ng-src="images/default-folder.svg"
                         alt="{{product.title}}">
                    <p itemprop="name" ng-href="shop/create-order/{{product.id}}">{{product.title}}</p>
                    <meta ng-if="parentCategory.name" itemprop="category" content="{{parentCategory.name}}">
                </div>
            </div>-->
</md-content>




