<md-content
    layout-padding
    flex>

    <div 
        ng-if="ctrl.loading"
        layout="row" 
        style="height: 90vh;" 
        layout-align="center center">

        <md-progress-circular
            md-mode="indeterminate"
            md-diameter="96"
            layout-align="center center">
        </md-progress-circular>
    </div>

    <!--main div-->    
    <div
        id="order-main-div"
        layout="column"
        layout-gt-md="row"
        ng-if="!ctrl.loading">


        <!--Left div-->
        <div 
            id="order-left-div"
            layout="column"
            layout-align="start stretch"
            flex="100"
            flex-gt-md="50"
            layout-margin>

            <!--order info-->
            <div 
                id="order-info"
                layout="row" 
                layout-xs="column" 
                layout-padding
                class="md-whiteframe-2dp">

                <table>
                    <tr>
                        <td translate="">ID  </td>
                        <td>: {{ctrl.order.id}}</td>
                    </tr>
                    <tr ng-if="ctrl.order.secureId">
                        <td translate="">Secure id </td>
                        <td>: {{ctrl.order.secureId}}</td>
                    </tr>
                    <tr class="noprint">
                        <td translate="">Title  </td>
                        <td>: {{ctrl.order.title}}</td>
                    </tr>
                    <tr>
                        <td translate="">Full name  </td>
                        <td>: {{ctrl.order.full_name}}</td>
                    </tr>
                    <tr>
                        <td translate="">Phone  </td>
                        <td>: {{ctrl.order.phone}}</td>
                    </tr>
                    <tr>
                        <td translate="">Address  </td>
                        <td>: {{ctrl.order.province}} - {{ctrl.order.city}} - {{ctrl.order.address}}</td>
                    </tr>
                    <tr class="noprint">
                        <td translate="">Description  </td>
                        <td>: {{ctrl.order.description}}</td>
                    </tr>
                    <tr class="noprint">
                        <td translate="">State  </td>
                        <td>: {{ctrl.order.state}}</td>
                    </tr>
                </table>
            </div>

            <!--Order attachments-->
            <div 
                id="order-attachments" 
                class="md-whiteframe-2dp noprint"
                layout-padding>
                <div 
                    layout="row"
                    layout-align="space-between center">
                    <h2 translate="">Attachments</h2>
                    <md-button 
                        class="md-raised md-primary"
                        ng-click="ctrl.addAttachment()" 
                        aria-label="Add attachment">
                        <span translate="">Add attachment</span>
                    </md-button>
                </div>
                <md-list>
                    <md-list-item
                        ng-repeat="attachment in ctrl.order.attachments"
                        ng-click="ctrl.showImage(ctrl.order,attachment)"> 
                        <img
                            ng-if="attachment.mime_type.startsWith('image')"
                            class="md-avatar"
                            ng-src="/api/v2/shop/orders/{{ctrl.order.id}}/attachments/{{attachment.id}}/content"
                            ng-src-error="resources/images/baseline-help-24px.svg"/>
                        <img
                            ng-if="!attachment.mime_type.startsWith('image')"
                            class="md-avatar"
                            ng-src="resources/images/unknown-file.png"/>
                        
                        <p>{{attachment.description | limitTo:40}}</p>

                        <md-button 
                            class="md-icon-button" 
                            aria-label="Download attachment"
                            ng-href="/api/v2/shop/orders/{{ctrl.order.id}}/attachments/{{attachment.id}}/content"
                            target="_blank"
                            download="{{attachment.file_name}}">
                            <wb-icon>cloud_download</wb-icon>
                            <md-tooltip><span translate="">Download</span></md-tooltip>
                        </md-button>
                        <md-button 
                            class="md-icon-button" 
                            aria-label="Delete attachment"
                            ng-click="ctrl.deleteAttachment(attachment)">
                            <wb-icon>delete</wb-icon>
                            <md-tooltip><span translate="">Delete</span></md-tooltip>
                        </md-button>

                    </md-list-item>
                </md-list>
            </div>

            <!--Order items-->
            <div 
                id="order-items" 
                class="md-whiteframe-2dp"
                layout-padding>

                <table align="center" class="mb-table mb-shop-table">
                    <thead>
                        <tr md-colors="{color: 'primary-700'}">
                            <td style="width: 5%"></td>
                            <td align="center" translate="" style="width: 60%">Title</td>
                            <td align="center" translate="" style="width: 10%">Unit/Price</td>
                            <td align="center" translate="" style="width: 10%">Count</td>
                            <td align="center" translate="" style="width: 10%">Price</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ctrl.order.order_items track by $index">
                            <td align="center">
                    <wb-icon ng-if="item.item_type === 'service'" class="noprint">cloud_upload</wb-icon>
                    <wb-icon ng-if="item.item_type === 'product'" class="noprint">add_shopping_cart</wb-icon>
                    <wb-icon ng-if="item.item_type === 'deliver'" class="noprint">send</wb-icon>
                    </td>
                    <td>
                        <p>{{item.title}}</p>
                    </td>
                    <td align="center">
                        <p>{{item.price | number}}</p>
                    </td>
                    <td align="center">
                        <p>{{item.count}}</p>
                    </td>
                    <td align="center">
                        <p>{{item.price * item.count | number}}</p>
                    </td>
                    </tr>
                    <tr>
                        <td style="width: 5%"></td>
                        <td align="start" style="width: 60%">
                            <h3 translate="">Total price</h3>
                        </td>
                        <td style="width: 10%"></td>
                        <td style="width: 10%"></td>
                        <td ng-if="ctrl.order.order_items.length > 0" align="center" style="width: 10%">
                            <h3>{{ctrl.totalP | number}}</h3>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--If order is not payed-->
            <div 
                ng-if="!ctrl.isPayed && ctrl.actionFlags.pay"
                class="md-whiteframe-2dp noprint"
                layout-padding>
                <mb-pay
                    mb-pay="ctrl.pay($data)" 
                    mb-discount-enable="true">
                </mb-pay>
            </div>
            <!--If order is payed-->
            <div 
                ng-if="ctrl.paymentChecked && ctrl.actionsChecked && (ctrl.isPayed || !ctrl.actionFlags.pay)"
                class="md-whiteframe-2dp noprint"
                style="background-color: green"
                layout-padding>
                <h2 style="color: white;text-align: center"  translate="">Order is payed successfully.</h2>
            </div>


        </div>

        <!--Right div-->
        <div 
            id="order-right-div"
            class="noprint"
            layout="column"
            flex="100"
            flex-gt-md="50"
            layout-margin
            layout-align="start stretch">

            <!--Customer info-->               
            <md-list>
                <!--Customer is logged in-->
                <md-list-item 
                    ng-if="ctrl.order.customer.id"
                    class="md-2-line md-whiteframe-2dp"> 
                    <img 
                        class="md-avatar"
                        ng-src="/api/v2/user/accounts/{{ctrl.order.customer.id}}/avatar"
                        ng-src-error="https://www.gravatar.com/avatar/{{ctrl.order.customer.id| wbmd5}}?d=identicon&size=150"/>
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ctrl.order.customer.profiles[0].first_name}} {{ctrl.order.customer.profiles[0].last_name}}</h3>
                    </div>
                </md-list-item>

                <!--Responsible info-->
                <md-list-item 
                    ng-if="order.assignee" 
                    class="md-2-line md-whiteframe-2dp"> 
                    <img class="md-avatar"
                         ng-src="/api/v2/user/accounts/{{ctrl.order.assignee.id}}/avatar" 
                         ng-src-error="https://www.gravatar.com/avatar/{{ctrl.order.assignee.id| wbmd5}}?d=identicon&size=150" />
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ctrl.order.assignee.profiles[0].first_name}} {{ctrl.order.assignee.profiles[0].last_name}}</h3>
                    </div>
                </md-list-item> 
            </md-list>


            <!--History-->
            <div 
                layout="column" 
                layout-padding
                class="md-whiteframe-2dp">

                <md-list flex> 
                    <md-subheader><h2 style="color: black">{{'Order history'| translate}}</h2></md-subheader>
                    <md-list-item 
                        ng-repeat="history in ctrl.order.histories track by $index"
                        class="md-2-line" 
                        style="cursor: pointer">
                        
                        <wb-icon ng-style="{'background-color': '#607D8B'}" ng-if="history.action == 'create'" class="md-avatar-icon" alt="{{history.action}}">add</wb-icon>
                        <wb-icon ng-style="{'background-color': '#607D8B'}" ng-if="history.action == 'accept'" class="md-avatar-icon" alt="{{history.action}}">done</wb-icon>
                        <wb-icon ng-style="{'background-color': '#607D8B'}" ng-if="history.action == 'reject'" class="md-avatar-icon" alt="{{history.action}}">clear</wb-icon>
                        <wb-icon ng-style="{'background-color': '#607D8B'}" ng-if="history.action == 'archive'" class="md-avatar-icon" alt="{{history.action}}">drafts</wb-icon>
                        <wb-icon ng-style="{'background-color': '#607D8B'}" ng-if="history.action == 'done'" class="md-avatar-icon" alt="{{history.action}}">done_all</wb-icon>
                        <wb-icon ng-style="{'background-color': '#607D8B'}" ng-if="history.action == 'pay'" class="md-avatar-icon" alt="{{history.action}}">monetization_on</wb-icon>

                        <div class="md-list-item-text" layout="column">
                            <h3>{{history.action}}</h3>
                            <p>{{history.description}}</p>
                        </div>
                        <md-divider ng-if="$index < ctrl.order.histories.length - 1"></md-divider> 
                    </md-list-item> 
                </md-list>
            </div>
        </div>
    </div>
</md-content>


