<md-content flex>
    <div 
        layout="column"
        class="registerForm">

        <div
            ng-if="!ctrl.registeringOrder"
            layout="column">

            <div
                layout="row"
                layout-align="center center"
                style="background-color: #660000;border-radius: 4px; box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <h2 
                    style="color: white;padding: 0px"
                    translate="">Register order</h2>
            </div>

            <div
                layout="row"
                style="background-color: white;box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 4px;margin-top: 2px;">

                <div 
                    flex
                    layout-padding>
                    <form 
                        name="regForm" 
                        novalidate>

                        <md-input-container 
                            class="md-block md-icon-float">
                            <wb-icon>person</wb-icon>
                            <input 
                                ng-model="ctrl.data.full_name" 
                                name="fullname"
                                type="text" 
                                placeholder="{{'Full name'| translate}}"
                                class="inputfield"
                                required>
                            <div 
                                ng-messages="regForm.fullname.$error">
                                <div 
                                    ng-message="required">
                                    <span translate="">This field is required.</span>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container 
                            class="md-block md-icon-float">
                            <wb-icon>phone</wb-icon>
                            <input 
                                ng-model="ctrl.data.phone" 
                                name="phone" 
                                type="text" 
                                class="form-control inputfield"  
                                placeholder="{{'Phone'| translate}}" 
                                required>
                            <div 
                                ng-messages="regForm.phone.$error">
                                <div 
                                    ng-message="required">
                                    <span translate="">This field is required.</span>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block md-icon-float">
                            <wb-icon>email</wb-icon>
                            <input 
                                ng-model="ctrl.data.email" 
                                type="email" 
                                name="email" 
                                placeholder="{{'Email'| translate}}" 
                                class="form-control" 
                                required>
                            <div 
                                ng-messages="regForm.email.$error">
                                <div ng-message="required"><span translate="">This field is required.</span></div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block md-icon-float">
                            <wb-icon>location_on</wb-icon>
                            <input 
                                ng-model="ctrl.data.province" 
                                type="text" 
                                placeholder="{{'Province'| translate}}"
                                class="inputfield">
                        </md-input-container>

                        <md-input-container class="md-block md-icon-float">
                            <wb-icon>location_city</wb-icon>
                            <input 
                                ng-model="ctrl.data.city" 
                                type="text" 
                                placeholder="{{'City'| translate}}"
                                class="inputfield">
                        </md-input-container>

                        <md-input-container 
                            class="md-block md-icon-float">
                            <wb-icon>home</wb-icon>
                            <input 
                                ng-model="ctrl.data.address" 
                                type="text" 
                                placeholder="{{'Address'| translate}}"
                                class="inputfield">
                        </md-input-container>
                        <md-input-container 
                            class="md-block">
                            <label translate="">Description</label>
                            <textarea 
                                ng-model="ctrl.data.description" 
                                md-select-on-focus
                                class="inputfield"></textarea>
                        </md-input-container>

                        <div 
                            layout="row"
                            layout-align="center center">
                            <md-button 
                                class="md-raised md-accent" 
                                ng-href="/">
                                <span translate="">Cancel</span>
                            </md-button>
                            <md-button 
                                class="md-raised md-primary" 
                                type="submit"
                                ng-click="ctrl.register(ctrl.data)" 
                                ng-disabled="regForm.$invalid">
                                <span translate="">Register</span>
                            </md-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div 
            layout="row"
            layout-align="center center"
            ng-if="ctrl.registeringOrder">
            <md-progress-circular
                md-mode="indeterminate" 
                md-diameter="96px">
            </md-progress-circular>
        </div>
    </div>
</md-content>