<!-- Deliveries -->
    <div 
        layout="row"
        layout-align="center center"
        layout-wrap
        flex>
        <md-progress-circular 
            md-mode="indeterminate" 
            md-diameter="96px" 
            ng-if="ctrl.loading">
        </md-progress-circular>
        <div 
            itemscope 
            itemtype="http://schema.org/DeliveryMethod"
            class="clickable-item md-whiteframe-2dp"
            md-colors="{borderColor: 'primary-200'}"
            ng-repeat="deliver in delivers"
            layout="column"
            layout-align="none center"
            layout-margin
            ng-click="submitToOrder(deliver)"
            style="cursor: pointer"
            flex="20">

            <div>
                <img 
                    itemprop="image"
                    ng-if="deliver.avatar"
                    style="max-height:100px; max-width:128px; min-height:128px; min-width: 128px"
                    ng-src="{{deliver.avatar}}"
                    alt="{{deliver.title}}">

                <img ng-if="!deliver.avatar" 
                     style="max-height:128px; max-width:128px; min-height:128px; min-width: 128px"
                     ng-src="images/default-folder.svg"
                     alt="{{deliver.title}}">
            </div>
            <p itemprop="name">{{deliver.title}}</p>
        </div>
    </div>